"Name","OS","IP","Arch","Mem","MemFree","MemUsed","CPUs","Boot Image"
{{ ansible_hostname }},{{ ansible_distribution}} {{ ansible_distribution_version }}, {{ ansible_default_ipv4.address }}, {{ ansible_architecture }}, {{ ansible_memtotal_mb }}, {{ ansible_memfree_mb }}, {{ ansible_memory_mb.real.used }}, {{ ansible_processor_count }}, {{ ansible_cmdline.BOOT_IMAGE }} 